.board {
    display: grid;
    grid-template-columns: repeat(7, min-content);
}

.container {
    display: flex;
    padding-left: 2rem;
    margin: 20px;
}

.row {
    margin-left: 0.6rem;
}

.p1 {
    color: red;
    margin-left: 2rem;
}

.p2 {
    color: blue;
    margin-left: 2rem;

}

.current-player {
    display: flex;
}

.column {
    transition: background-color 0.8s;

    &.highlight {
        background-color: yellow; // Change to any effect you want
        color: white;
    }

}

.set-button {
    width: 100%;
}