.form-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    margin-left: 2vh;
}

.p1-input {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin-right: 1vh;
}

.p2-input {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;


}

.play-button {
    // margin-left: 5%;
}

.main-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title {
    animation: title-animation 8s infinite;
    // @include animateBackground(8s);

}

@keyframes title-animation {
    0% {color:blue;}
    50% {color:red;}
    100% {color:blue;}
}